* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.city {
  position: relative;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  margin: 20px;
  background-size: cover;
  box-shadow: 8px 8px 10px rgba(0,0,0,0.75)
}

#tokyo {
  background-image: url('../img/tokyo.jpg');
}

#helsinki {
  background-image: url('../img/helsinki.jpg');
}

#krakow {
  background-image: url('../img/krakow.jpg');
}

.overlay {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

.city-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Krona One', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  text-shadow: 5px 5px 10px #000;
}
